@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700&display=swap');
* {
    font-family: Red Hat Display;
}

body {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}