@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    list-style: none;
    text-decoration: none;
    font-family: open sans;
}

.pro {
    background-color: #5d4c8b;
}

footer {
    background-color: #13003c;
}